@import url('https://fonts.cdnfonts.com/css/minecraft-3');

body {
    font-family: 'Minecraft', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #d2d2d2;
}

.actions {
    margin-top: 10px;
}

.actions a {
    margin-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000; 
}

.logo img {
    width: 250px; 
}

.nav-buttons {
    display: flex;
    align-items: center;
}

.nav-buttons form {
    margin-right: 20px; 
}

.form-class {
    width: 50%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

textarea {
    height: 100px; /* Adjust height as needed */
    resize: vertical; /* Allow vertical resizing */
}

label {
    display: block;
    margin-bottom: 5px;
}

.btn {
    border: 1px outset rgb(255, 255, 255);
    background-color: #b3b6b9;
    height:auto;
    width:auto;
    cursor: pointer;
    font-family: 'Minecraft', sans-serif;
    font-size: large;
    text-decoration: none;
}

.btn-primary {
    background-color: #6c757d; 
    color: #fff;
}

.btn-secondary {
    margin-right: 40px;
    border: transparent;
    background-color: transparent; 
    color: #fff;
}

.btn-secondary:hover {
    background-color: #fff; 
    color: #000; 
}

.btn-primary:hover,
.btn-success:hover {
    opacity: 0.8;
}

.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #fff;
}

a {
    color: hsl(0, 64%, 38%); 
}

.white {
    color: white;
}

a:hover {
    color: #ff6b6b; 
}
