@import url('https://fonts.cdnfonts.com/css/minecraft-3');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Minecraft', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
}

table {
    width: 100%;
}

td {
    padding-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn {
    border: 1px outset rgb(255, 255, 255);
    background-color: #b3b6b9;
    height:auto;
    width:auto;
    cursor: pointer;
    font-family: 'Minecraft', sans-serif;
    text-decoration: none;
}

.btn-primary {
    background-color: #6c757d; 
    color: #fff;
}

.btn-secondary {
    margin-right: 40px;
    border: transparent;
    background-color: transparent; 
    color: #fff;
}

.btn-secondary:hover {
    background-color: #fff; 
    color: #000; 
}

.btn-primary:hover,
.btn-success:hover {
    opacity: 0.8;
}
