<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
    <style> 
    /* Errorin oma väliaikanen style */
        body {
            color: white;
            font-size: 200%;
            text-shadow: 4px 4px 4px black;
        }
    </style>
</head>
<body>
    <h1>GAME OVER!</h1>

    <p th:text="${errorMessage}"></p>

    <form th:action="@{/}" method="get">
        <button type="submit" class="btn btn-sm btn-primary">Try again?</button>
    </form>
</body>
</html>