<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/indexstyle.css" th:href="@{/css/indexstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <h3 id="dynamicHeading">Add Game</h3>
    <form action="#" method="post" th:action="@{/savegame}" th:object="${game}">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{title}" placeholder="Title" required>
        <input type="text" th:field="*{developer}" placeholder="Developer" required>
        <input type="number" th:field="*{releaseYear}" placeholder="Release Year" required>
        <input type="text" th:field="*{description}" placeholder="Description" required>
        <input type="number" th:field="*{price}" step="0.01" placeholder="Price" required>
        <input type="text" th:field="*{bannerImageUrl}" placeholder="bannerImageUrl">
        <input type="text" th:field="*{backgroundImageUrl}" placeholder="backgroundImageUrl">
        
        <select multiple="multiple" name="platformIds" class="form-control">
            <option th:each="platform : ${platforms}" th:value="${platform.id}" th:text="${platform.name}"></option>
        </select>
        
        <select th:field="*{genre}" class="form-control" required> 
            <option value="" disabled selected hidden>Select Genre</option>
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>
        <input type="reset" value="Reset"><button type="submit">Submit</button>
    </form>
    <br>
    <a th:href="@{/}">Back to index</a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/editgame')) 
            var header = document.getElementById('dynamicHeading');
            header.innerText = 'Edit Game';
        });
    </script>
</body>
</html>
