<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Game List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>All Games</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Developer</th>
                <th>Release Year</th>
                <th>Description</th>
                <th>Price</th>
                <th>Genre</th>
                <th>Platforms</th> 
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="game : ${games}">
                <td th:text="${game.title}"></td>
                <td th:text="${game.developer}"></td>
                <td th:text="${game.releaseYear}"></td>
                <td th:text="${game.description}"></td>
                <td th:text="${game.price}"></td>
                <td th:text="${game.genre.name}"></td>
                <td>
                    <ul>
                        <li th:each="platform : ${game.platforms}" th:text="${platform.name}"></li> 
                    </ul>
                </td>
                <td><a th:href="@{/editgame/{id}(id=${game.id})}" class="btn btn-success">Edit</a></td>
                <td><a th:href="@{/deletegame/{id}(id=${game.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a th:href="@{/addgame}">Add Game</a>
    <br>
</body>
</html>

