<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/formstyle.css" th:href="@{/css/formstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/images/OpinioNetLogo.png" alt="OpinioNet Logo">
        </div>
        <div class="nav-buttons">
            <a th:href="@{/}" class="btn btn-sm btn-secondary">Game List</a>
            <a th:href="@{/userlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">User List</a>
            <a th:href="@{/platformlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Platform List</a>
            <a th:href="@{/genrelist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Genre List</a>
            <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
                <button type="submit" class="btn btn-sm btn-danger">Logout</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/register}" method="get">
                <button type="submit" class="btn btn-sm btn-success">Register</button>
            </form>
        </div>
    </nav>

    <h3 id="dynamicHeading">Add Game</h3>

    <form action="#" method="post" th:action="@{/savegame}" th:object="${game}" class="form-class">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td><input type="text" th:field="*{title}" placeholder="Title" required></td>
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{developer}" placeholder="Developer" required></td>
                <td th:if="${#fields.hasErrors('developer')}" th:errors="*{developer}">Error</td>
            </tr>
            <tr>
                <td><input type="number" th:field="*{releaseYear}" placeholder="Release Year" required></td>
                <td th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}">Error</td>
            </tr>
            <tr>
                <td><textarea th:field="*{description}" rows="4" cols="50" maxlength="2220" placeholder="Description"></textarea></td> 
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</td>
            </tr>
            <tr>
                <td><input type="number" th:field="*{price}" step="0.01" placeholder="Price" required></td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</td>
            </tr>
            <tr>
                <td><a href="https://www.steamgriddb.com/" target="_blank">Fitting Image URLs from SteamGridDB</a></td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{bannerImageUrl}" placeholder="bannerImageUrl"></td>
            </tr>
            <tr>
                <td><input type="text" th:field="*{backgroundImageUrl}" placeholder="backgroundImageUrl"></td>
            </tr>
            <tr>
                <td><strong>Platform(s):</strong>
                    <div th:each="platform : ${platforms}">
                        <label>
                            <input type="checkbox" th:field="*{platforms}" th:value="${platform.id}" class="form-check-input">
                            <span th:text="${platform.name}"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><strong>Genre(s):</strong>
                    <div th:each="genre : ${genres}">
                        <label>
                            <input type="checkbox" th:field="*{genres}" th:value="${genre.id}" class="form-check-input">
                            <span th:text="${genre.name}"></span>
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset" class="btn btn-sm btn-primary"> <button type="submit" class="btn btn-sm btn-primary">Submit</button></td>
            </tr>
        </table>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/editgame')) 
            var header = document.getElementById('dynamicHeading');
            header.innerText = 'Edit Game';
        });
    </script>

    <footer class="footer">
        <div class="footer-content">
            <p>OpinioNet - Created by Erkki Tiili</p>
            <p><a href="https://github.com/Textiili/OpinioNet">GitHub</a> of this site and my <a href="https://fi.linkedin.com/in/erkki-tiili-73a07629a">LinkedIn</a> profile!</p>
        </div>
    </footer>
</body>
</html>
