<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/list.css" th:href="@{/css/list.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <nav class="navbar">
        <a href="/">
            <div class="logo">
                <img src="/images/OpinioNetLogo.png" alt="OpinioNet Logo">
            </div>
        </a>
        <div class="nav-buttons">
            <input type="button" value="Add Genre" onclick="window.location.href='/addgenre'" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">
            <input type="button" value="User List" onclick="window.location.href='/userlist'" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">
            <input type="button" value="Platform List" onclick="window.location.href='/platformlist'" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">
            <input type="button" value="Game List" onclick="window.location.href='/'" class="btn btn-sm btn-secondary">

            <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
                <button type="submit" class="btn btn-sm btn-danger">Logout</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/register}" method="get">
                <button type="submit" class="btn btn-sm btn-success">Register</button>
            </form>
        </div>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th>Genres</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="genre : ${genres}">
                <td th:text="${genre.name}"></td>
                <td><a th:href="@{/editgenre/{id}(id=${genre.id})}">Edit</a></td>
                <td><a th:href="@{/deletegenre/{id}(id=${genre.id})}"
                    onclick="return confirm('Are you sure you want to delete this genre?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <footer class="footer">
        <div class="footer-content">
            <p>OpinioNet - Created by Erkki Tiili</p>
            <p><a href="https://github.com/Textiili/OpinioNet" target="_blank" class="white">GitHub</a> of this site and my <a href="https://fi.linkedin.com/in/erkki-tiili-73a07629a" target="_blank" class="white">LinkedIn</a> profile!</p>
        </div>
    </footer>
</body>
</html>
