<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/indexstyle.css" th:href="@{/css/indexstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <h3 id="dynamicHeading">Add Genre</h3>
    <form action="#" method="post" th:action="@{/savegenre}" th:object="${genre}">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="Name" required>
        <input type="reset" value="Reset"><button type="submit">Submit</button>
    </form>
    <br>
    <a th:href="@{/genrelist}">Back to genre list</a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/editgenre')) 
            var header = document.getElementById('dynamicHeading');
            header.innerText = 'Edit Genre';
        });
    </script>
</body>
</html>
