<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/formstyle.css" th:href="@{/css/formstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <nav class="navbar">
        <a href="/">
            <div class="logo">
                <img src="/images/OpinioNetLogo.png" alt="OpinioNet Logo">
            </div>
        </a>
        <div class="nav-buttons">
            <input type="button" value="Game List" onclick="window.location.href='/'" class="btn btn-sm btn-secondary">
            <input type="button" value="User List" onclick="window.location.href='/userlist'" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">
            <input type="button" value="Platform List" onclick="window.location.href='/platformlist'" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">
            <input type="button" value="Genre List" onclick="window.location.href='/genrelist'" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">
            
            <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
                <button type="submit" class="btn btn-sm btn-danger">Logout</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/register}" method="get">
                <button type="submit" class="btn btn-sm btn-success">Register</button>
            </form>
        </div>
    </nav>

    <h3 id="dynamicHeading">Add Genre</h3>

    <form action="#" method="post" th:action="@{/savegenre}" th:object="${genre}" class="form-class">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td>
                    <input type="text" th:field="*{name}" placeholder="Genre name" required maxlength="60">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="Cancel" onclick="window.location.href='/genrelist'" class="btn btn-sm btn-danger"> 
                    <input type="reset" value="Reset" class="btn btn-sm btn-danger"> 
                    <input type="submit" value="Submit" class="btn btn-sm btn-primary">
                </td>
            </tr>
        </table>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/editgenre')) 
            var header = document.getElementById('dynamicHeading');
            header.innerText = 'Edit Genre';
        });
    </script>

    <footer class="footer">
        <div class="footer-content">
            <p>OpinioNet - Created by Erkki Tiili</p>
            <p><a href="https://github.com/Textiili/OpinioNet" target="_blank" class="white">GitHub</a> of this site and my <a href="https://fi.linkedin.com/in/erkki-tiili-73a07629a" target="_blank" class="white">LinkedIn</a> profile!</p>
        </div>
    </footer>
</body>
</html>
