<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/indexstyle.css" th:href="@{/css/indexstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/images/OpinioNetLogo.png" alt="OpinioNet Logo">
        </div>
        <div class="nav-buttons">
            <a th:href="@{/}" class="btn btn-sm btn-secondary">Game List</a>
            <a th:href="@{/userlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">User List</a>
            <a th:href="@{/platformlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Platform List</a>
            <a th:href="@{/genrelist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Genre List</a>
            <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
                <button type="submit" class="btn btn-sm btn-danger">Logout</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/register}" method="get">
                <button type="submit" class="btn btn-sm btn-success">Register</button>
            </form>
        </div>
    </nav>

    <h3 id="dynamicHeading">Add Platform</h3>

    <form action="#" method="post" th:action="@{/saveplatform}" th:object="${platform}">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td><input type="text" th:field="*{name}" placeholder="Name" required></td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset"><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/editplatform')) 
            var header = document.getElementById('dynamicHeading');
            header.innerText = 'Edit Platform';
        });
    </script>
</body>
</html>
