<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/mystyle.css" th:href="@{/css/mystyle.css}" />
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <h3>Add/Edit Platform</h3>
    <form action="#" method="post" th:action="@{/saveplatform}" th:object="${platform}">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="Name" required>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a th:href="@{/platformlist}">Back to platform list</a>
</body>
</html>
