<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/indexstyle.css" th:href="@{/css/indexstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <h1>Register</h1>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <table>
            <tr>
                <td>Username: <input type="text" th:field="*{username}" required/></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</td>
            </tr>
            <tr>
                <td>Password: <input type="text" th:field="*{passwordHash}" required/></td>
                <td th:if="${#fields.hasErrors('passwordHash')}" th:errors="*{passwordHash}">Error</td>
            </tr>
            <tr>
                <td><input type="submit" value="Register" /></td>
            </tr>
        </table>
    </form>
    <br>
    <td><a th:href="@{/}">Back to index</a></td>
</body>
</html>
