<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/indexstyle.css" th:href="@{/css/indexstyle.css}" />
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <h3>Add Review</h3>
    <form th:action="@{/reviews/{gameId}(gameId=${game.id})}" th:object="${review}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="reviewText">Review Text:</label>
            <textarea id="reviewText" th:field="*{reviewText}" rows="4" cols="50" required></textarea>
        </div>
        <div>
            <label for="rating">Rating:</label>
            <input type="number" id="rating" th:field="*{rating}" step="0.1" min="0" max="10" required/>
        </div>
        <input type="reset" value="Reset"><button type="submit">Submit Review</button>
    </form>
    <a th:href="@{/reviews/{gameId}(gameId=${game.id})}">Back to reviews</a>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/editreview')) 
            var header = document.getElementById('dynamicHeading');
            header.innerText = 'Edit Review';
        });
    </script>
</body>
</html>
