<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/indexstyle.css" th:href="@{/css/indexstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <h3>Reviews for <span th:text="${game.title}"></span></h3>
    <div th:if="${reviews.empty}">
        <p>No reviews yet.</p>
    </div>
    <div th:if="${not reviews.empty}">
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Rating</th>
                    <th>Review Text</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="review : ${reviews}">
                    <td th:if="${review.user != null}" th:text="${review.user.username}"></td>
                    <td th:if="${review.user == null}">Anonymous??</td> 
                    <td th:text="${review.rating}"></td>
                    <td th:text="${review.reviewText}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/review/{id}(id=${game.id})}" sec:authorize="hasAuthority('USER')" class="btn btn-primary">
        Review <span th:text="${game.title}"></span></a>
    <a th:href="@{/}">Back to index</a>
</body>
</html>
                
