<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/mainstyle.css" th:href="@{/css/mainstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/images/OpinioNetLogo.png" alt="OpinioNet Logo">
        </div>
        <div class="nav-buttons">
            <a th:href="@{/}" class="btn btn-sm btn-secondary">Game List</a>
            <a th:href="@{/userlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">User List</a>
            <a th:href="@{/platformlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Platform List</a>
            <a th:href="@{/genrelist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Genre List</a>
            <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
                <button type="submit" class="btn btn-sm btn-danger">Logout</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/register}" method="get">
                <button type="submit" class="btn btn-sm btn-success">Register</button>
            </form>
        </div>
    </nav>

    <div class="background-container" >
        <img th:src="${game.backgroundImageUrl}" alt="Couldn't load" />
    </div>

    <h3>Reviews for <span th:text="${game.title}"></span></h3>

    <div th:if="${reviews.empty}">
        <p>No reviews yet.</p>
    </div>
    <div th:if="${not reviews.empty}">
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Created</th>
                    <th>Rating</th>
                    <th>Review Text</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="review : ${reviews}">
                    <td th:if="${review.user != null}" th:text="${review.user.username}"></td>
                    <td th:if="${review.user == null}">Anonymous??</td> 
                    <td th:text="${#dates.format(review.createdAt, 'dd/MM/yyyy')}"></td>
                    <td th:text="${review.rating}"></td>
                    <td th:text="${review.reviewText}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Oltava ulkona divistä! -->
    <a th:href="@{/review/{id}(id=${game.id})}" sec:authorize="hasAuthority('USER')">
        Review <span th:text="${game.title}"></span>
    </a>

    <footer class="footer">
        <div class="footer-content">
            <p>OpinioNet - Created by Erkki Tiili</p>
            <p><a href="https://github.com/Textiili/OpinioNet">GitHub</a> of this site and my <a href="https://fi.linkedin.com/in/erkki-tiili-73a07629a">LinkedIn</a> profile!</p>
        </div>
    </footer>
</body>
</html>
                
