<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/mainstyle.css" th:href="@{/css/mainstyle.css}" />
    <link rel="icon" href="/images/OpinioNetIcon.png">
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="/images/OpinioNetLogo.png" alt="OpinioNet Logo">
        </div>
        <div class="nav-buttons">
            <a th:href="@{/}" class="btn btn-sm btn-secondary">Game List</a>
            <a th:href="@{/reviews/{gameId}(gameId=${game.id})}" class="btn btn-sm btn-secondary">Reviews</a>
            <a th:href="@{/userlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">User List</a>
            <a th:href="@{/platformlist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Platform List</a>
            <a th:href="@{/genrelist}" sec:authorize="hasAuthority('ADMIN')" class="btn btn-sm btn-secondary">Genre List</a>
            <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
                <button type="submit" class="btn btn-sm btn-danger">Logout</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/login}" method="get">
                <button type="submit" class="btn btn-sm btn-primary">Login</button>
            </form>
            <form th:unless="${#authorization.expression('isAuthenticated()')}" th:action="@{/register}" method="get">
                <button type="submit" class="btn btn-sm btn-success">Register</button>
            </form>
        </div>
    </nav>

    <h3>Your review for <span th:text="${game.title}"></span></h3>

    <form th:action="@{/reviews/{gameId}(gameId=${game.id})}" th:object="${review}" method="post">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <td><textarea id="reviewText" th:field="*{reviewText}" rows="4" cols="50" maxlength="10000" required></textarea></td>
            </tr>
            <tr>
                <td><input type="number" id="rating" th:field="*{rating}" step="0.1" min="0" max="10" required/></td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset"><button type="submit">Submit Review</button></td>
            </tr>
            <tr th:if="${review.id != null}">
                <td>
                    <a th:href="@{/deletereview/{reviewId}(reviewId=${review.id})}" sec:authorize="hasAuthority('USER')" class="btn btn-primary">
                        Delete review for <span th:text="${game.title}"></span>
                    </a>
                </td>
            </tr>
        </table>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            if (currentUrl.includes('/editreview')) 
            var header = document.getElementById('dynamicHeading');
            header.innerText = 'Edit Review';
        });
    </script>

    <footer class="footer">
        <div class="footer-content">
            <p>OpinioNet - Created by Erkki Tiili</p>
            <p><a href="https://github.com/Textiili/OpinioNet">GitHub</a> of this site and my <a href="https://fi.linkedin.com/in/erkki-tiili-73a07629a">LinkedIn</a> profile!</p>
        </div>
    </footer>
</body>
</html>
