<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/indexstyle.css" th:href="@{/css/indexstyle.css}" />
    <title>OpinioNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en">
</head>
<body>
    <h3>All Users</h3>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>PasswordHash</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}" th:unless="${user.username == 'admin'}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.passwordHash}"></td>
                <td>
                    <a th:href="@{/deleteuser/{id}(id=${user.id})}"  
                        onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/}">Back to index</a>
</body>
</html>
